/* static/css/style.css */
/* Add your CSS styles here */

/*body {
 background-image: url("../space.jpg");
 background-color: #cccccc;
}*/

.container {
    margin-top: 50px;
}

.output-box {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    height: 350px;
}

/* Add more styles as needed */
